html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
    	
#map {
    width: 75%;
    height: 100%;
    float: right
}

#sidebar{
	height: 100%;
	width: 23%;
	float: left;
}

ul{
	list-style-type: none;
}

li{
	padding-bottom: 20px;
	font-size: 18x;
}

#search{
	margin-left: 40px;
	margin-top: 20px;
}

input{
	width: 100%;
}